.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form {
  margin-left: 2rem;
}

input[type='text'],
input[type='email']{ 
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-controls {
  margin-bottom: 20px;
}
.error {
  width: 5rem;
  padding: 4px 7px;
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.Sample-Formik {
  padding: 20px;
  background-color: yellow;
  border-radius: 10px;
}
.YUP {
  padding: 20px;
  background-color: yellowgreen;
  border-radius: 10px;
}
.Formik-component {
  padding: 20px;
  background-color: cornflowerblue;
  border-radius: 10px;
}